<p>
  gestor-tareas works!
</p>
<div class="jumbotron col-md-2 col-md-offset-5">
    <h2>Formulario control datos reactivamente</h2>
    <!-- Right of the bat, we no longer declare a local variable but use the formGroup directive and set it the complexForm object we defined in the constructor. Throughout the form, we will reference the complexForm root object as can be seen in the submitForm function.-->
    <form [formGroup]="complexForm" (ngSubmit)="submitForm(complexForm.value)">
      <div class="form-group">
        <label>Nombre:</label>
        <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
        <input class="form-control" type="text" placeholder="Nombre de tarea" [formControl]="complexForm.controls['nombre']">
      </div>
      <div class="form-group">
        <label>Fecha inicio: </label>
        <input class="form-control" type="date" placeholder="Fecha de inicio" [formControl]="complexForm.controls['diaInicio']">
      </div>
      <div class="form-group">
        <label>Fecha Fin: </label>
        <input class="form-control" type="date" placeholder="Fecha de fin" [formControl]="complexForm.controls['diaFin']">
      </div>
      <div class="form-group">
        <label>Prioridad: </label>
        <input class="form-control" type="number" placeholder="Prioridad" [formControl]="complexForm.controls['prioridad']">
        <progress class="form-control" value="{{complexForm.value.prioridad*10}}" max="100">{{complexForm.value.prioridad*10}} %</progress>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

  <!-- .................Lista de tareas........................ -->
<md-grid-list cols="4" class="col-md-12">
  <md-grid-tile *ngFor="let item of (tareas | orderBy: ['prioridad']); trackBy: trackByFn">
    <md-card>
      <md-card-title>{{item.nombre}}</md-card-title>   
      <md-card-content>
            <p>Fecha Inicio: {{item.diaInicio | date}}</p>
            <p>Fecha Finalización: {{item.diaFin | date}}</p>
            <p>Prioridad: {{item.prioridad}}</p>
      </md-card-content>
      <md-card-actions>
            <button md-button (click)=relizado(item)>Realizado</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>

